body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a03d72;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.title {
    font-size: 22px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.nav-button {
    background-color: white;
    color: #a03d72;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.box {
    width: 100%; 
    background: rgb(216, 210, 210);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0; 
}