body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a03d72;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.title {
    font-size: 22px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.nav-button {
    background-color: white;
    color: #a03d72;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.box {
    align-items: center;
    background: rgb(216, 210, 210);
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0; 
}

.box img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 15px;
}

.content {
    flex: 1;
}

.content p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.read-more {
    display: inline-block;
    background-color: #a44272;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}