body {
    padding: 0;
    margin: 0;
    background-color: #edfafd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.biodata {
    border: 2px solid black;
    width: auto;
    margin: 10px;
}

.biodata h1 {
    margin: 0;
    padding: 10px 10px 0px 10px;
}

.biodata table {
    margin: 0px 5px 5px 5px;
}

.biodata td {
    padding: 5px;
}

.container {
    display: flex;
    justify-content: center;
}

.riwayat {
    border: 2px solid black;
    max-width: 100%;
    width: 94%;
    margin: 0px 10px 10px 10px; 
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: left;
}

.riwayat h3 {
    margin: 0;
    padding: 5px 10px 5px 10px;
}

.riwayat table {
    padding-left: 10px;
}

.riwayat ol{
    margin: 0;
    padding: 5px 10px 5px 35px;
}

.riwayat p{
    margin: 5px;
    padding: 5px 10px 0px 5px;
    text-align: justify;
}

.container-form {
    max-width: 100%;
    width: 95%;
    margin: 0px 10px 0px 10px;
}

.form {
    border: 2px solid black;
    width: auto;
    padding-bottom: 10px;
}

.form h3 {
    margin: 0;
    padding: 10px 10px 0px 10px;
}

.form .tabel {
    margin: 0px 10px 10px 5px;
    padding: 0px 10px 0px 5px;
    text-align: left;
}

.form .tabel label, input {
    margin-top: 10px;
}

.checkbox {
    display: flex;
}
.radio {
    display: flex;
}

.button {
    text-align: center;
}

.navigasi {
    display: flex;
    justify-content: space-around ;
}

.navigasi-container {
    margin: 5px 0 5px 0px;
    border: 2px solid black;
    width: 43%;
    height: 54px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center; 
}

.navigasi h3 {
    margin: 0;
}

.navigasi a{
    color: inherit;
    text-decoration: none;
}

.pengalaman {
    border: 2px solid black;
    margin: 0px 10px 10px 10px;
}

.pengalaman h3{
    margin: 0;
    padding: 10px 10px 0px 10px;
}

.pengalaman p{
    text-align: justify;
    margin-top: 4px;
    padding: 0px 10px 0px 10px;
}

.pengalaman-2 {
    border: 2px solid black;
    max-width: 100%;
    width:auto ;
    margin: 10px; 
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: left;
}

.pengalaman-2 h3 {
    margin: 0;
    padding: 5px 10px 5px 10px;
}

.pengalaman-2 p{
    margin: 5px;
    padding: 5px 10px 0px 5px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}