.navbar-nav a {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.navbar-nav a:hover{
    color: white;
    border-bottom: 1px solid white;
}

.card-body a {
    text-decoration: none;
    color: black;
    background-color: #6A9C89;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    text-align: center;
}

.card-body a:hover{
    background-color:aqua;
    color: black;
}

iframe {
    border-radius: 20px;
    width: 100%;
    height: 300px;
}

button {
    padding: 5px;
    margin: 10px 0 10px 0;
    width: 100%;
    background-color: #FF5733;
}

button:hover {
    background-color: #81E7AF;
}

footer {
    display: flex;
    background-color: #FF5733;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 0.5rem;
}

.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
}

.card-pop {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    display: none; 
    text-align: center; 
    width: 300px; 
}

.btn-card-pop {
    background-color: #FF5733; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
}

.btn-card-pop:hover {
    background-color: #C70039; 
}
